body {
    background-image: url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  #title {
    background: #12664F;
    text-align: center;
    color: #C6D4FF;
    margin-bottom: 35px;
  }
  
  h1 {
    font-family: 'Righteous', cursive;
    font-size: 3.4em;
    text-shadow: 2px 2px #7A82ab;
    margin: 0 auto 5px;
    width: 70%;
  }
  
  #lifespan {
    border-bottom: 3px double #2DC2BD;
    width: 25%;
    margin: 0 auto 5px;
    min-width: 245px;
  }
  
  #thankYou {
    font-style: italic;
    font-size: 1.3em;
    margin: 0 auto;
    width: 415px;
  }
  
  #main {
    margin: 0 15%;
  }
  
  header {
    display: flex;
  }
  
  #img-div {
    transform: rotate(-3deg);
  }
  
  figcaption {
    text-align: center;
    font-size: 0.8em;
    font-weight: 400;
    color: #307473;
    max-width: 90%;
    padding: 3px 0;
  }
  
  #image {
    max-width: 90%;
    height: auto; 
    margin: 0 auto;
    display: block;
    border: 3px solid #7A82ab;
    border-radius: 50%
  }
  
  #quote {
    background: #307473;
    color: #2DC2BD;
    font-family: 'The Nautigal', cursive;
    font-size: 3em;
    text-align: left;
    text-shadow: 1px 1px #7A82ab;
    border-radius: 25%;
    padding: 25px 10px 0 20px;
    transform: rotate(4deg);
    min-width: 385px;
    max-height: 380px;
    max-width: 575px;
  }
  
  #quote p {
    margin: 0 10px;
  }
  
  .right {
    text-align: center;
  }
  
  h2 {
    color: #12664F;
  }
  
  footer p {
    background: #12664F;
    text-align: center;
    margin: 0;
    color: #7A82ab;
  }